# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
